       /* Tablet Display */
       
       @media screen and (min-width: 768px) {
           /* Header */
           .profile-image {
               display: block;
               margin-left: auto;
               margin-right: auto;
           }
           header nav .hamburger {
               display: none;
           }
           header nav #menu {
               display: flex;
           }
       }
       /* Desktop Display*/
       
       @media screen and (min-width: 1024px) {
           /* main part of the body */
           /* Header */
           header nav .hamburger {
               display: none;
           }
           header nav #menu {
               display: flex;
           }
       }