           /* Tablet Display */
       
       @media screen and (min-width: 768px) {
           /* Header */
           .profile-image {
               display: block;
               margin-left: auto;
               margin-right: auto;
           }
           /* Desktop Display*/
           @media screen and (min-width: 1024px) {
               /* Header */
           }